<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="icon" type="image/x-icon" th:href="@{favicon.ico}" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
	<style>
		.card-thumbnail {
			max-height: 250px;
			overflow: hidden;
		}
	</style>
</head>

<body>
	<header th:replace="layout :: header"></header>

	<section class="bg-light py-4 my-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="mb-3 text-danger">On sale</h2>
				</div>

				<div class="col-md-6 col-lg-4" th:each="item : ${itemsList}">
					<div class="card my-3">
						<div class="card-thumbnail">
							<img th:if="${not #strings.isEmpty(item?.image?.mimeType)}"
								th:src="|data:${item?.image?.mimeType};base64, ${item?.image?.data}|" class="img-fluid"
								alt="thumbnail">
						</div>
						<div class="card-body">
							<h3 class="card-title"><a href="#" class="text-secondary" th:text="${item.name}"></a></h3>
							<p class="card-text" th:text="|${item.price}원|"></p>
							<p class="card-text" th:text="|${item.stock}개 남음|"></p>
							<p class="text-secondary" th:text="${item.description}"></p>
							<a th:href="@{/item(userId=${item.seller.userId}, nickName=${item.seller.nickName})}"
								class="btn btn-sm btn-danger float-right"
								th:text="|${item.seller.nickName}의 상품 더보기|"></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Bootstrap JS -->
	<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
<script>
	let token = "[[${token}]]";
	let hasJwtExpired = "[[${hasJwtExpired}]]";
	let userId = "[[${userId}]]";
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</html>