<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<header>
	<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a th:attr="class=${#httpServletRequest.requestURI == '/' ? 'nav-link active' : 'nav-link'}"
						th:href="@{/}">Home</a>
				</li>
				<li class="nav-item">
					<a th:attr="class=${#httpServletRequest.requestURI == '/item/register' ? 'nav-link active' : 'nav-link'}"
						id="item" style="display:none" th:href="@{/item/register}">Sell Your
						Items</a>
				</li>
				<li class="nav-item">
					<a th:attr="class=${#httpServletRequest.requestURI == '/seller' ? 'nav-link active' : 'nav-link'}"
						id="youritem" style="display:none" th:href="@{/seller}">Your Items</a>
				</li>
			</ul>
			<div class="float-end">
				<button class="btn btn-light ms-3" id="signIn" style="display:none"
					th:onclick="window.location.href='/signin'">Sign
					In</button>
				<button class="btn btn-light ms-3" id="signUp" style="display:none"
					th:onclick="window.location.href='/register'">Sign
					Up</button>
				<button class="btn btn-light ms-3" id="logout" style="display:none"
					th:onclick="window.location.href='/logout'">Logout</button>
			</div>
		</div>
	</nav>
</header>

<html>