<!-- https://www.markuptag.com/login-form-design-html-in-bootstrap-5/ -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sell your items</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="icon" type="image/x-icon" th:href="@{favicon.ico}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
        <style></style>
    </head>
    <body>
		<div class="container mt-5">
		    <div class="row">
		        <div class="col-md-6 offset-md-3">
		            <div class="mb-3">
		                <h3>Register your items</h3>
		            </div>
		            <div class="shadow p-4">                  
		                <div class="mb-3">
		                    <label for="name">Name</label>
		                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
		                </div>
		
		                <div class="mb-3">
		                    <label for="price">Price</label>
		                    <input type="text" class="form-control" name="price" id="price" placeholder="Price">
		                </div>
		                
		                <div class="mb-3">
		                    <label for="quantity">Quantity</label>
		                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Quantity">
		                </div>
		
		                <div class="mb-3 float-end">
		                    <button type="submit" th:onclick="sendReq()" class="btn btn-primary">Register</button>
		                </div>
		
		                <hr>
		                
		            </div>
		        </div>   
		    </div>
		</div>

        <!-- Bootstrap JS -->
        <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    </body>
    
 <script th:inline="javascript">

function sendReq() {
		
	var name = $("#name").val();	
	var price = $("#price").val();		
	var quantity = $("#quantity").val();
	var param = {name, price, "stock": quantity}   

	$.ajax({	
		type:'POST',		
		data: JSON.stringify(param),		
		url:"/items",		
		contentType: "application/json",	
	}).done(function (output, status, xhr) {
		window.location.href = '/';
	})
}

</script>
</html>